<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Meal Details</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1 style="color: #4CAF50;">{{ meal.strMeal }}</h1>
    <img src="{{ meal.strMealThumb }}" alt="{{ meal.strMeal }}" width="300"><br>
    <h2 style="color: #007bff;">Ingredients:</h2>
    <ul>
        {% for i in range(1, 21) %}
            {% set ingredient = meal['strIngredient' ~ i] %}
            {% set measure = meal['strMeasure' ~ i] %}
            {% if ingredient %}
                <li style="color: #333;">{{ measure }} {{ ingredient }}</li>
            {% endif %}
        {% endfor %}
    </ul>
    <h2 style="color: #007bff;">Instructions:</h2>
    <p style="color: #333;">{{ meal.strInstructions }}</p>
</body>
</html>